rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{path=**}/schools/{schoolId} {
      allow read: if true;
    }
    match /{path=**}/neighborhoods/{neighborhoodId} {
      allow read: if true;
    }
    match /{path=**}/plans/{planId} {
      allow read: if true;
    }

    match /threads/{threadId} {
      allow read: if true;
      allow create, update, delete: if true;

      match /messages/{messageId} {
        allow read: if true;
        allow create, update, delete: if true;
      }
    }

    match /users/{userId} {
      allow read: if true;
      allow create, update: if (
        request.auth != null && request.auth.uid == userId
      ) || (
        userId.matches('^kakao:.*')
        && request.resource.data.method == 'kakao'
        && request.resource.data.birthDate is string
      ) || (
        userId.matches('^naver:.*')
        && request.resource.data.method == 'naver'
        && request.resource.data.birthDate is string
      );
      allow delete: if (
        request.auth != null && request.auth.uid == userId
      ) || (
        userId.matches('^kakao:.*') && resource.data.method == 'kakao'
      ) || (
        userId.matches('^naver:.*') && resource.data.method == 'naver'
      );

      match /blocks/{blockId} {
        allow read, create, update, delete: if true;
      }

      match /reports/{reportId} {
        allow read, create, update, delete: if true;
      }

      match /schools/{schoolId} {
        allow read: if true;
        allow create, update, delete: if (
          request.auth != null && request.auth.uid == userId
        ) || (
          userId.matches('^kakao:.*') || userId.matches('^naver:.*')
        );
      }

      match /neighborhoods/{neighborhoodId} {
        allow read: if true;
        allow create, update, delete: if (
          request.auth != null && request.auth.uid == userId
        ) || (
          userId.matches('^kakao:.*') || userId.matches('^naver:.*')
        );
      }

      match /media/{mediaId} {
        allow read: if true;
        allow create, update, delete: if (
          request.auth != null && request.auth.uid == userId
        ) || (
          userId.matches('^kakao:.*') || userId.matches('^naver:.*')
        );
      }

      match /memories/{memoryId} {
        allow read: if true;
        allow create, update, delete: if (
          request.auth != null && request.auth.uid == userId
        ) || (
          userId.matches('^kakao:.*') || userId.matches('^naver:.*')
        );
      }

      match /plans/{planId} {
        allow read: if true;
        allow create, update, delete: if (
          request.auth != null && request.auth.uid == userId
        ) || (
          userId.matches('^kakao:.*') || userId.matches('^naver:.*')
        );
      }
    }
  }
}
